---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl">Decentralized Launchpad <span class="text-purple-600">Powered by Community</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Create, launch, and invest in blockchain projects with the full support of the community. Nextpad offers a secure, transparent, and decentralized platform where you can participate in the future of finance.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="https://app.nextpad.org"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Launch app</span
                      >
                    </a>
                    <a
                      href="https://docs.nextpad.org/nextpad-whitepaper"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Read whitepaper</span
                      >
                    </a>
                </div>
            </div>
            <div class="mt-24 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 md:px-40">
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/open-campus-edu-logo.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="provider logo" title="Educhain" />
                  </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/infura.png" class="h-12 w-auto mx-auto" loading="lazy" alt="provider logo" title="Infura" />
                </div>
                <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./images/clients/pinata-logo.webp" class="h-14 w-auto mx-auto" loading="lazy" alt="provider logo" title="Pinata" />
                </div>
                <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/Vercel.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="provider logo" title="Vercel" />
                  </div>
                  <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                    <img src="./images/clients/do-icon.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="provider logo" title="Digitalocean" />
                  </div>
              </div>
        </div>
    </Container>
</div>