---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="team">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Meet the Teams
      </h2>
    </div>
    <div class="md:columns-2 gap-8 space-y-8">
      
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Fikri Rudiansyah</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Founder & Developer</p>
          </div>
        </div>
        <p class="mt-8">As sole founder and developer behind the Nextpad platform. With a strong background in web development, blockchain, and decentralized finance, Fikri has over five years of experience in the crypto space.</p>
      </div>
      
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">You</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Amazing talent</p>
          </div>
        </div>
        <p class="mt-8">Yes you!, are you passionate about blockchain and decentralized finance? Do you have the skills to help shape the future of crypto? We're looking for talented individuals to join our team and contribute to the growth of Nextpad.</p>
      </div>

    </div>
  </Container>
</div>